<!doctype html> <html lang="en"> <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title> </head> <body>
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <label for="">test</label>
    <div>
      <input type="text" name="name" value="">
    </div>
  <button>submit</button>
  </form> {#<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>#} {#<script>#} {# $('button').click(function() {#} {# var uri = 
'url';#} {# var $form = $(this).parents(this);#} {# // data#} {# var hostname = $form.find('[name="hostname"]').val();#} {# var body = 
$form.find('[name="body"]').val();#} {# $.post(uri, {#} {# hostname: hostname,#} {# body: body#} {# }).then(function(rs) {#} {# console.log(rs)#} {# })#} {# return 
false;#} {# })#} {#</script>#} </body>
</html>
